In [1]:
import pandas as pd

In [ ]:
pd.read_csv()

In [3]:
# df2018 = pd.read_clipboard(header = None)

In [5]:
cols = ["rank", "club", "revenue", "country"]

In [7]:
# df2018.iloc[:, :4]

In [8]:
df2018 = df2018.iloc[:, :4]
df2018.columns = cols

In [12]:
df08 = pd.read_clipboard(header = None)
df08.columns = cols
# df08

In [14]:
df13 = pd.read_clipboard(header = None)
df13 = df13.iloc[:, :4]
df13.columns = cols
df13

    rank                 club  revenue   country
0      1          Real Madrid    512.6     Spain
1      2            Barcelona    483.0     Spain
2      3    Manchester United    395.9   England
3      4        Bayern Munich    368.4   Germany
4      5              Chelsea    322.6   England
5      6              Arsenal    290.3   England
6      7      Manchester City    285.6   England
7      8                Milan    256.9     Italy
8      9            Liverpool    233.2   England
9     10  Paris Saint‑Germain    220.5    France
10    11       Internazionale    200.6     Italy
11    12             Dortmund    196.7   Germany
12    13             Juventus    195.4     Italy
13    14    Tottenham Hotspur    178.2   England
14    15           Schalke 04    174.5   Germany
15    16               Napoli    148.4     Italy
16    17            Marseille    135.7    France
17    18                 Lyon    131.9    France
18    19          Galatasaray    129.7    Turkey
19    20         Hamburger SV    121.1   Germany

In [16]:
df18 = df2018.copy()

In [17]:
df18["year"] = 2018
df13["year"] = 2013
df08["year"] = 2008

In [19]:
df = pd.concat([df18, df13, df08])

In [21]:
df.to_pickle("deloitte_clubs.")